#main {
    width: 400px;
    border: 2px solid #4d7aa2;
    border-radius: 8px;
    padding: 32px 80px;
    display: block;

    margin: auto;
    /* box-sizing: border-box; */


    /* height: 400px; */
}

#main .wrapper {

    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .time {
    background-color: #ddd;
    padding: 4px 0;
    width: 100%;
}

.time p {
    margin: 8px;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    /* margin-bottom: 32px; */
}

.form-group {
    width: 100%;
    display: flex;
    margin-bottom: 16px;

}

.form-group .form-label {

    width: 50%;
    background-color: #5b9bd5;
    padding: 12px;
    border: 1px solid #4d7aa2;
    border-radius: 2px;
    margin-right: 16px;
    color: #fff;


}

.form-group input {
    width: 50%;
    /* line-height: 32px; */
    font-size: 24px;
    padding: 8px 4px;
    border: 2px solid #4d7aa2;
    border-radius: 2px;
}

form .form-button {
    background-color: #5b9bd5;
    padding: 12px 32px;
    font-size: 15px;
    border: 2px solid #4d7aa2;
    border-radius: 6px;
    color: #fff;
    max-width: 200px;
    text-align: center;

    margin-top: 32px;
}